body {
  overflow-x: hidden;
  background: #fafafa;
  margin-top:56px;
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.toggled {
    padding-left: 250px;
  }
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #fff;
  border-right: 1px solid #e5e5e5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding-top: 12px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
.menu-icon {
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  right: 10px;
  color: #fff!important;
  svg {
    width:70px;
    -webkit-filter: drop-shadow( 0 0 5px rgba(#000, .5) );
    filter: drop-shadow( 0 0 5px rgba(#000, .5) );
    .close {
      display: none;
    }
  }
}
#wrapper.toggled {
  svg {
    -webkit-transition: -webkit-transform .8s;
    transition: transform .8s;
    transform: rotate(270deg);
    .open {
      display:none;
    }
    .close {
      display: block;
      fill: #fff;
      path {
        fill:#fff!important;
      }
    }
  }
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    text-indent: 20px;
    line-height: 40px;
    a {
      display: block;
      text-decoration: none;
      color: #333;
      font-size:14px;
      &:hover {
        text-decoration: none;
        color: #333;
        background: #fafafa;
      }
      &:active, &:focus {
        text-decoration: none;
      }
    }
  }
  &__heading {
    display: block;
    color:#999999;
    text-transform: uppercase;
    font-size: 14px;
  }
  > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    a {
      color: #333;
    }
  }
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 0;
    &.toggled {
      padding-left: 250px;
    }
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
